<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="veronicaConnectionString" connectionString="Data Source=192.168.10.78,1433;Network Library=DBMSSOCN;Initial Catalog=veronica; user id=sa;password=SSsa18173;"
      providerName="System.Data.SqlClient" />
    <add name="veronicaConnectionString2" connectionString="Data Source=192.168.10.78,1433;Initial Catalog=veronica;User ID=sa;Password=SSsa18173;Network Library=dbmssocn"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>


    <authentication mode="Forms">
      <forms cookieless="AutoDetect" defaultUrl="inicio.aspx" loginUrl="loguin.aspx" name="VERONICA.ASPX" path="/" protection="All" timeout="10"/>
      <!--forms cookieless="AutoDetect" defaultUrl="inicio.aspx" loginUrl="loguin.aspx" name="VERONICA.ASPX" path="/" protection="All" timeout="10"/-->
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>



    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/-->
        <!--add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime/>
  </system.web>
  <appSettings/>
  <location path="admin.aspx">
    <system.web>
      <authorization>
        <allow users="rasz, anmartinez"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  
</configuration>